build*/
dist*/
zips/
__pycache__/
.DS_Store
*.log
*.pyo
*.pyc
*.toc
*.zip
.DS_Store
log.txt
pyinstall/w/Configure/
pyinstall/w/MKOB/
Capture-Replay/*.txt
# Ignore JSON files from recordings. If JSON files are needed in the source, include them with a '!' line.
*.json
