# IDE/OS files
.DS_Store
.vscode/

# Build and Output
bin/
build*/
*.build/
dist*/
*.dist/
zips/
__pycache__/
pyinstall/w/Configure/
pyinstall/w/MKOB/
*.pyd
*.pyi
# Ignore generated *.cmd and *.exe files. If they are needed, include them with a '!' line.
*.cmd
*.exe
!nuitka_*.cmd
!src.py/pykob.pyd
!src.py/pykob.pyi

# Generated / Intermediate
**/CMakeCache.txt
**/CMakePresets.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/cmake_install.cmake
**/install_manifest.txt
**/compie_commands.json

# PCB
*/#auto_saved_files#
*/#auto_saved_files#/*
*/_autosave-*.kicad_pcb
*/*-bak
*/*-backups/*
*/_reports/*
*.dsn
Fp-info-cache

# temporary
~$*.*
*.bak

# Runtime output
*.log
*.out
*.pyo
*.pyc
*.toc
*.zip
log.txt
Capture-Replay/*.txt
# Ignore JSON files from recordings. If JSON files are needed in the source, include them with a '!' line.
*.json
# Ignore MRT Selector files. If .mrtsel files are needed in the source, include them with a '!' line.
*.mrtsel
# Ignore PKCFG files from saving configurations. If PKCFG files are needed in the source, include them with a '!' line.
*.pkcfg
# Ignore PKREC files from recordings. If PKREC files are needed in the source, include them with a '!' line.
*.pkrec
# Ignore 'test' programs. If test programs are needed, include them with a '!' line
_test*.py
# Include anything that is put into the doc and mkob_learn folders
!doc/*.mrtsel
!doc/*.pkcfg
!doc/*pkrec
!mkob_learn/*.pkrec
